# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Environment variables
.env

# macOS
.DS_Store

# Alembic cache
.alembic

# Pytest
.pytest_cache/

# VSCode
.vscode/

# JetBrains
.idea/

# Logs
*.log